body, html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 196, 176);
  background-size: 100%;
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 5vh;
}

#color-name {
  text-decoration: underline;
}

#buttons {
  display: flex;
  position: relative;
  width: 57%;
}

.button {
  display: flex;
  width: 44%;
  padding: 22% 0 22% 0;
  margin: 0 3%;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.color-option {
  position: relative;
  font-size: 3vw;
  top: -1em;
  height: 0;
}

#score {
  display: flex;
  flex-direction: column;
}

#score h2 {
  text-align: center;
  margin-bottom: 0;
}

#score ul {
  display: flex;
  list-style: none;
}

#score li {
  margin: 0 1em;
  font-size: 1.5em;
}